<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>   
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Matthew Blair &mdash; {{ page.title }}</title>
   <meta name="author" content="Matthew Blair" />
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Matthew Blair</a>
    <a class="extra" href="/">home</a>
	<a class="extra" href="/about.html">about</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Matthew Blair<br />
        me@matthewblair.net
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/mblair/">github.com/mblair</a><br />
        <a href="http://twitter.com/mattyblair/">twitter.com/mattyblair</a><br />
      </p>
    </div>
		<div class="rss">
			<a href="http://matthewblair.net/atom.xml">
				<img src="/images/rss.png" alt="Subscribe to RSS Feed" height=64 width=64 />
			</a>
		</div>
  </div>
</div>

{% include analytics.html %}
</body>
</html>
